@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');


.disabled{
    pointer-events: none;
    cursor: default;
}


.carousel-item img {
    object-fit: cover;
    height: 100%;
}


.gallerymargin{
    margin-top: 80px;;
}

.nav-item{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

#footer{
    background-color: #c18c57;
    margin-top: 80px;
}

.footer-class{
    display: flex;
}

.contactcard{
    object-fit: cover;
    height: 50%;
}
