@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');


.main_gallery{
    border: none;
    text-align: center;
}

.gallerymargin{
    margin-top: 80px;
}

.main_gallery:hover{
    cursor: pointer;
    opacity: 0.5;
}
